# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=e92d26a1-7939-44c8-a8a1-7d37258b7c5a

    # Set to true to disable all reporting
    B:opt-out=false
}


